body, html, #root {
    height: 100%;
    margin: 0;
}

.center-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/cornered-stairs.svg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

.url-box {
    height: 4rem;
}

.url-box:hover {
    border-color: white;
    box-shadow: none;
}

.p-inputtext.url-box:focus {
    border-color: #ccc ;
    box-shadow: none ;    
    outline: none;      
}

.chat-box {
    width: 40%;
}

.enter-button{
    height: 4rem;
    width: 4rem;
    background-color: red;
    border-color: red;
    color: white;
}

.enter-button:focus{
    border-color: #ccc;
}

.fade-in-up {
    animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.transcription-container {
    background: rgba(59, 59, 59, 0.5) !important;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


.content-header{
    border-bottom: 2px solid white;
    font-weight: 800;
    font-size: larger;
}